<!-- Nav-bar -->
<app-navbar></app-navbar>

<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity" id="myPage">
  <img src="assets/images/main.jpg" alt="rolls royce" id="main-image">

  <div class="w3-container w3-display-bottomleft w3-margin-bottom">
    <button class="pull-left w3-button w3-large w3-theme w3-hover-teal">{{title}}</button>
  </div>
</div>

<!-- About Us -->
<app-aboutus></app-aboutus>

<!-- Booking Row -->
<app-booking></app-booking>

<!-- Prices Row -->
<app-prices></app-prices>

<!-- Fleet Container -->
<app-fleet></app-fleet>

<!-- Contact Container -->
<app-contactus></app-contactus>

<!-- Google Maps -->
<div id="googleMap"></div>


<app-footer></app-footer>
